# Python compiled bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Application Log directory
Logs/
*.dat
*.log

# Windows OS metadata
Thumbs.db
ehthumbs.db
Desktop.ini

# VS Code / Editor config
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
